<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="black">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="http://cdsemi.alwayscreating.com/wp-content/uploads/2016/06/cdsemi_logo180x65.png"></a>
        
        <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
              <li>
      <div class="background">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/field-service-support-420x250.jpg">
      </div>
     </li>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    <h1 style="text-align:center">About</h1>

    <div class="container">
          <div class="col s12">
            <h5 align="center">Company Profile</h5>
              <blockquote class="flow-text">&emsp; C&D Semiconductor, Inc. is an innovative, fast-growing semiconductor equipment manufacturer based in San Jose, California. Founded in 1989, we have been serving the global semiconductor and other related industries for more than two decades, with customers from all over the world. Our products and services cover wafer handling, processing, and inspection requirements in semiconductor manufacturing. <br>

              &emsp; Our main engine for growth is our ability to respond to customers’ needs by providing them with high-performance systems that deliver maximum benefits at short notices. Our technical know-how and flexibility enables us to work closely with our customers to design, develop, and manufacture systems that help meet their business and financial goals. This is why our customers continue to reward us with their business.</blockquote>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
           <div class="col s12 m8 l6" data-animate="fadeInUp">
                 <img class="circle responsive-img" src="http://myamericanodyssey.com/wp-content/uploads/2012/03/Building_where_Intel_started.jpg">
           </div>
           <div class="col s12 m4 l6">
             <h5 align="center">Mission</h5>
                  <p class="flow-text">We endeavor to be a leader in the semiconductor equipment-manufacturing industry. Toward that end, we strive to provide our customers with innovative, high-value, low-cost, state-of-the-art technology solutions.</p>                                    
           </div>
      </div>
    </div>

    <div class="container">
          <div class="col s12">
            <h5 align="center">Our Cultures and Values</h5>
              <blockquote class="flow-text">We maintain a friendly, fair, and creative work environment which respects diversity, innovation, and hard work.<br><br>
              <b>We strive for EXCELLENCE.</b> We deliver best-in-class products and services to our customers in terms of value received for their money. We aim for excellence, strive for continuous improvement, and adapt vigorously to change. <br><br>
              <b>We are dedicated to CUSTOMER SATISFACTION.</b> We respect our customers, listening to their requests and understanding their needs. We strive to exceed their expectations in quality, on-time delivery, and affordability. <br><br>
              <b>We regard our SUPPLIERS as essential team members.</b> We owe our suppliers the same respect that we show to our customers. Our suppliers deserve fair and equitable treatment, clear agreements and honest feedback on performance. We consider our suppliers’ needs in conducting all aspects of our business.
            </blockquote>
        </div>
    </div>
    <br>

      <footer class="page-footer grey">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio.</h5>
          <p class="grey-text text-lighten-4">
              C&D Semiconductor, Inc. is an innovative, fast-growing semiconductor equipment manufacturer based in San Jose, California. Founded in 1989, we have been serving the global                         semiconductor and other related industries for more than two decades, with customers from all over the world.
          </p>


        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Headquarters</h5>
          <ul>
            <li></li>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Global Offices</h5>
          <ul>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Products</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Services</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container">
          C&D Semiconductor Services (C) 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>