<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/products.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

<nav class="white" role="navigation">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="http://cdsemi.alwayscreating.com/wp-content/uploads/2016/06/cdsemi_logo180x65.png"></a>
      <ul class="right hide-on-med-and-down">
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/products"><b>Products</b></a></li>
            <li><a href="/services"><b>Services</b></a></li>
            <li><a href="/contact"><b>Contact</b></a></li>
            <li><a href="/about"><b>About</b></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/products"><b>Products</b></a></li>
            <li><a href="/services"><b>Services</b></a></li>
            <li><a href="/contact"><b>Contact</b></a></li>
            <li><a href="/about"><b>About</b></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div id="index-banner" class="parallax-container">
      <div class="container">
        <h1 class="center white-text" style="padding-top:10%;">V2000 Bright Light Inspection System</h1>
        <br><br>

     </div>
    <div class="parallax"><img src="https://image.shutterstock.com/z/stock-photo-macro-of-silicon-wafers-low-dof-489605140.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <h3 class="center-align black-text">A Superior Macro Inspection Tool</h3>
  <div class="container">
      <div class="center">
        <img style="height:100%; width:100%;"src="img/v2000.PNG">
      </div>
  </div>
  <div class="container">
  <h5 class="center-align black-text" id="description">The V2000 Bright Light is a powerful, easy-to-use, dual-cassette, wafer-inspection system that can effectively discover all types of defects on wafers. The system can be operated in either auto or manual mode: the former automates wafer inspection through the use of recipes while the latter allows the operator the maximum operation flexibility. All operations, whether auto or manual, are carried out through the system’s intuitive graphical user interface. Its 34” x 45” footprint ensures that the system can be conveniently installed on a table top.</h5>
  <div class="container">
      <div class="center">
        <img style="height:100%; width:100%;"src="img/captureallerrors.PNG">
      </div>
  </div>
  <h4 class="center-align black-text">Catch Nearly All Wafer Defects</h4>
  <h5 class="center-align black-text">The V2000 can be configured with a combination of up to four different light types that have been specifically selected to detect various types of wafer defects.</h5>
  
      
   <div class="container">
      <div class="center">
        <img style="height:100%; width:100%;"src="img/reducetime.PNG">
      </div>
  </div>  
  <h4 class="center-align black-text">Reduce Microscope Inspection Time</h4>
  <h5 class="center-align black-text">The V2000 allows for the human eye to
quickly detect various types of defects
without eyestrain. Defects that can be
difficult or time consuming to see using
a microscope are quickly and easily seen.
Quality is improved by identifying defects
quickly with macro inspection while fewer
man hours are spent on microscope
inspection.
Our customers have reduced microscope
inspection by 90% — saving time, money,
and operator fatigue while improving yield
out of the lithography area. The bright light
catches nearly all wafer defects found in
most photolithography areas.</h5>
    
    <div class="container">
      <div class="center">
        <img style="height:100%; width:100%;"src="img/backside.PNG">
      </div>
  </div>
    <h4 class="center-align black-text">Backside Inspection</h4>
    <h5 class="center-align black-text">Contamination and process defects can
occur on the topside or bottomside of
the wafer. The V2000 has an option for
backside inspection where the entire
bottomside of the wafer minus a small
vacuum grip area is presented to the
operator for inspection.</h5>
    <div class="container">
      <div class="center">
        <img style="height:100%; width:100%;"src="img/ui.PNG">
      </div>
  </div>
     <h4 class="center-align black-text">User Friendly Interface</h4>
    <h5 class="center-align black-text">The User Interface is designed so that
operators use the machine through engineer
developed recipes. Recipe creation is a
quick and simple process and once saved
operators have a simple “Single Click”
Operation to get started. Operator use is
simple and ergonomic.
Wafers are presented for inspection under
a gimble chuck with the correct lighting
requirements. Operators have the ability to
reject a wafer and store a visual map of the
wafer for easy recall at later use. </h5>
    </div>

    
    
  <footer class="page-footer grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">C&D Semiconductor Services Inc.</h5>
          <p class="black-text">2031 Concourse Drive <br>San Jose, CA 95131 <br> <b>Email: </b> contactus@cdsemi.com <br> <b>Phone: </b> (408) 383 - 1888 <br> <b>Fax: </b> (408) 383 - 1889</p>
        </div>
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>