<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>
      <style>
      #map {
        height: 400px;
        max-width: 600px;
       }
    </style>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

  <nav class="black">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="http://cdsemi.alwayscreating.com/wp-content/uploads/2016/06/cdsemi_logo180x65.png"></a>
        
        <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
              <li>
      <div class="background">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/field-service-support-420x250.jpg">
      </div>
     </li>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    
    
        <!-- <h3>Global Offices</h3> -->
    <!-- <div id="map"></div> -->
<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#339966;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    HQ
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i>Addres:</h3> 
                <p style="margin-top:6%;line-height:35%">2031 Concourse Drive San Jose, CA 95131</p>              
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail </h3>
                <p style="margin-top:6%;line-height:35%">contactus@cdsemi.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Phone number:</h3>
                <p style="margin-top:6%;line-height:35%">408-383-1888</p>
                <br />
                <br />
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96690.80542089987!2d29.864461132544537!3d40.77109282810726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb4f66644bfb9d%3A0x82690ee7586b7eb9!2zxLB6bWl0LCBLb2NhZWxp!5e0!3m2!1str!2str!4v1480782606579" width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
       

    
    
      <footer class="page-footer grey">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio.</h5>
          <p class="grey-text text-lighten-4">
              C&D Semiconductor, Inc. is an innovative, fast-growing semiconductor equipment manufacturer based in San Jose, California. Founded in 1989, we have been serving the global                         semiconductor and other related industries for more than two decades, with customers from all over the world.
          </p>


        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Headquarters</h5>
          <ul>
            <li></li>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Global Offices</h5>
          <ul>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Products</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Services</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container">
          C&D Semiconductor Services (C) 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
    
    <script>
      function initMap() {
        var hq = {lat: 37.397615, lng: -121.89176829999997};
        var brea = {lat: 33.91668049999999, lng: -117.90006040000003};
        var israel = {lat: 32.0596324, lng: 34.81603419999999};
        var russia = {lat: 60.040885, lng: 30.31673269999999};
        var taiwan = {lat: 24.7816461, lng: 121.00591540000005};
        var hongkong = {lat: 22.31058609999999, lng: 114.22298209999997};
        var shanghai = {lat: 31.1902873, lng: 121.5883};
        var hongkong2 = {lat: 22.283992, lng: 114.15663700000005};
        var swiss = {lat: 47.0124136, lng: 6.999854300000038};
        var germany = {lat: 49.0757141, lng: 9.559694700000023};
        var japan = {lat: 35.7070879, lng: 139.77172970000004};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 1,
          minZoom: 1,
          center: hq
        });
        var hqmarker = new google.maps.Marker({
          position: hq,
          map: map
        });
        var breamarker = new google.maps.Marker({
          position: brea,
          map: map
        });
        var israelmarker = new google.maps.Marker({
          position: israel,
          map: map
        });
        var russiamarker = new google.maps.Marker({
          position: russia,
          map: map
        });
        var taiwanmarker = new google.maps.Marker({
          position: taiwan,
          map: map
        });
        var hongkongmarker = new google.maps.Marker({
          position: hongkong,
          map: map
        });
        var shanghaimarker = new google.maps.Marker({
          position: shanghai,
          map: map
        });
        var hongkong2marker = new google.maps.Marker({
          position: hongkong2,
          map: map
        });
        var swissmarker = new google.maps.Marker({
          position: swiss,
          map: map
        });
        var germanymarker = new google.maps.Marker({
          position: germany,
          map: map
        });
        var japanmarker = new google.maps.Marker({
          position: japan,
          map: map
        });
          
          
      }
    </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt2_jkQWKuHl6iy02idQyWXAQTGJLx2io&callback=initMap"
    async defer></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>