<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>
      <style>
      #map {
        height: 400px;
        
       }
    </style>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

  <nav class="white">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="http://cdsemi.alwayscreating.com/wp-content/uploads/2016/06/cdsemi_logo180x65.png"></a>
        
        <ul class="right hide-on-med-and-down">
         <li><a class="blue-text text-darken-2" href="/"><b>Home</b></a></li>
        <li><a class="blue-text text-darken-2" href="/products"><b>Products</b></a></li>
        <li><a class="blue-text text-darken-2" href="/services"><b>Services</b></a></li>
        <li><a class="blue-text text-darken-2" href="/contact"><b>Contact</b></a></li>
        <li><a class="blue-text text-darken-2" href="/about"><b>About</b></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
              <li>
      <div class="background">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/field-service-support-420x250.jpg">
      </div>
     </li>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    
  <div class="container">
    <h3>Global Offices</h3>
    <h5 class="flow-text">Semiconductors have no boundary, and neither do we. With corporate sales representatives around the world, we look forward to talking face to face with you!</h5> <br>
  </div>
    <div class="container row">
        <div class = "col m5 s12">
              <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">Southeast Asia</div>
                  <div class="collapsible-body">
                    <h6 id="firstHeading" class="firstHeading">Taiwan</h6>
                    <div id="bodyContent">
                        <p><b>Corporate Representative:<br></b>Vincent Lee or Elisa Lo, part of Summit Tek Industries Co., Ltd.</p>
                        <p><b>Address:<br></b>No. 16, Lane 173, Scientific Park Road <br> Hsinchu, Taiwan</p>
                        <p><b>Phone: </b>+(886)-3-567-8750<br>
                        <b>Fax: </b>+(886)-3-579-0349<br>
                        <b>Email: </b>summit.tek@msa.hinet.net</p>
                    </div>
                  </div>
                </li>
                <li>
                    <div class="collapsible-header">Europe</div>
                    <div class="collapsible-body">      
                    <h5 id="firstHeading" class="firstHeading">Germany</h5>
                    <div id="bodyContent">
                        <p><b>Corporate Representative:<br></b>Thomas Bohn, part of Teltec Semiconductor Pacific Ltd.</p>
                        <p><b>Address:<br></b>Am Moobach 6, 74535<br>Mainhardt, Germany</p>
                        <p><b>Phone: </b>+49-7903-9144-16<br>
                        <b>Fax: </b>+49-7903-9144-11<br>
                        <b>Email: </b>tb@teltec.com</p>
                    </div>
                    
                    <h5 id="firstHeading" class="firstHeading">Russia</h5>
                    <div id="bodyContent">
                        <p><b>Corporate Representative:<br></b>Olzhas Amanzholov, part of Araul Tech</p>
                        <p><b>Address:<br></b>Room 313, 34A Vyborgskoye Shosse<br>Saint Petersburg, Russia, 194356</p>
                        <p><b>Phone: </b>+7 812 645 5353<br>
                        <b>Email: </b>info@arualtech.ru</p>
                    </div>
                        
                    <h5 id="firstHeading" class="firstHeading">Switzerland</h5>
                    <div id="bodyContent">
                        <p><b>Corporate Representative:<br></b>Pierre Cahuzac, part of Teltec Semiconductor Pacific Ltd.</p>
                        <p><b>Address:<br></b>Champs-Montant 10B 2074<br>Marin, Switzerland</p>
                        <p><b>Phone: </b>+33 4 6722 6791<br>
                        <b>Fax: </b>+33 4 6722 2637<br>
                        <b>Email: </b>pierre.cahuzac@teltec.com</p>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Middle East?</div>
                    <div class="collapsible-body">
                        <h5 id="firstHeading" class="firstHeading">Israel</h5>
                            <div id="bodyContent">
                                <p><b>Corporate Representative:<br></b>Elie Galimidi, part of GAL Technologies Inc.</p>
                                <p><b>Address:<br></b>Tfutsot Yisra'el St 3 <br> Giv'atayim, Israel </p>
                                <p><b>Phone: </b>(972)-3-571-4333<br>
                                <b>Mobile: </b>(972)-544-208-580<br>
                                <b>US Mobile: </b>(408)-464-4908<br>
                                <b>Email: </b><br>elie@galtechnologies.com or <br> elie-galmidi@bezeqint.net</p>
                            </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active">North America</div>
                    <div class="collapsible-body">
                        <h5>Silicon Valley (Corporate Headquarters)</h5>
                        <div id="bodyContent">
                           <p><b>Address:<br></b>2031 Concourse Drive <br> San Jose, California 95131</p>
                           <p><b>Phone: </b> (408) 383 - 1888 <br>
                           <b>Fax: </b> (408) 383 - 1889<br>
                           <b>Email: </b>contactus@cdsemi.com</p>
                       </div>
                       <h5>Southern California</h5>
                       <div id="bodyContent">
                           <p><b>Corporate Representative:<br></b>Rick Acaba</p>
                           <p><b>Address:<br></b>Brea, California</p>
                           <p><b>Phone: </b>(714) 993 - 2082<br>
                           <b>Mobile: </b>(714) 600 - 3106<br>
                           <b>Fax: </b> (714) 993 - 2075<br>
                           <b>Email: </b>racaba@cdsemi.com</p>
                       </div>
                    </div>
                 </li>
             </ul>
        
        </div>
        <div class="col m7" id="map"></div>

    </div>
    
      <footer class="page-footer grey">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio.</h5>
          <p class="grey-text text-lighten-4">
              C&D Semiconductor, Inc. is an innovative, fast-growing semiconductor equipment manufacturer based in San Jose, California. Founded in 1989, we have been serving the global                         semiconductor and other related industries for more than two decades, with customers from all over the world.
          </p>


        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Headquarters</h5>
          <ul>
            <li></li>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Global Offices</h5>
          <ul>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Products</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Services</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container black-text">
          C&D Semiconductor Services (C) 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
    
    <script>
      function initMap() {
        var hq = {lat: 37.397615, lng: -121.89176829999997};
        var brea = {lat: 33.91668049999999, lng: -117.90006040000003};
        var israel = {lat: 32.0596324, lng: 34.81603419999999};
        var russia = {lat: 60.040885, lng: 30.31673269999999};
        var taiwan = {lat: 24.7816461, lng: 121.00591540000005};
        var hongkong = {lat: 22.31058609999999, lng: 114.22298209999997};
        var shanghai = {lat: 31.1902873, lng: 121.5883};
        var hongkong2 = {lat: 22.283992, lng: 114.15663700000005};
        var swiss = {lat: 47.0124136, lng: 6.999854300000038};
        var germany = {lat: 49.0757141, lng: 9.559694700000023};
        var japan = {lat: 35.7070879, lng: 139.77172970000004};
        
        var hqcontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Silicon Valley (Corporate Headquarters)</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Address:<br></b>2031 Concourse Drive <br> San Jose, California 95131</p>'+
        '<p><b>Phone: </b> (408) 383 - 1888 <br>'+
        '<b>Fax: </b> (408) 383 - 1889<br>'+
        '<b>Email: </b>contactus@cdsemi.com</p>'+
        '</div>'+
        '</div>';
          
        var breacontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Southern California</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>Rick Acaba</p>'+
        '<p><b>Address:<br></b>Brea, California</p>'+
        '<p><b>Phone: </b>(714) 993 - 2082<br>'+
        '<b>Mobile: </b>(714) 600 - 3106<br>'+
        '<b>Fax: </b> (714) 993 - 2075<br>'+
        '<b>Email: </b>racaba@cdsemi.com</p>'+
        '</div>'+
        '</div>';
          
        var israelcontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Israel</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>Elie Galimidi, part of GAL Technologies Inc.</p>'+
        '<p><b>Address:<br></b>Tfutsot Yisra\'el St 3 <br> Giv\'atayim, Israel </p>'+
        '<p><b>Phone: </b>(972)-3-571-4333<br>'+
        '<b>Mobile: </b>(972)-544-208-580<br>'+
        '<b>US Mobile: </b>(408)-464-4908<br>'+
        '<b>Email: </b><br>elie@galtechnologies.com or <br> elie-galmidi@bezeqint.net</p>'+
        '</div>'+
        '</div>';
        
        var russiacontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Russia</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>Olzhas Amanzholov, part of Araul Tech</p>'+
        '<p><b>Address:<br></b>Room 313, 34A Vyborgskoye Shosse<br>Saint Petersburg, Russia, 194356</p>'+
        '<p><b>Phone: </b>+7 812 645 5353<br>'+
        '<b>Email: </b>info@arualtech.ru</p>'+
        '</div>'+
        '</div>';
          
        var taiwancontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Taiwan</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>Vincent Lee or Elisa Lo, part of Summit Tek Industries Co., Ltd.</p>'+
        '<p><b>Address:<br></b>No. 16, Lane 173, Scientific Park Road <br> Hsinchu, Taiwan</p>'+
        '<p><b>Phone: </b>+(886)-3-567-8750<br>'+
        '<b>Fax: </b>+(886)-3-579-0349<br>'+
        '<b>Email: </b>summit.tek@msa.hinet.net</p>'+
        '</div>'+
        '</div>';
          
        var hongkongcontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Hong Kong</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>Willis Choi, part of Laserwort</p>'+
        '<p><b>Address:<br></b>Unit 603, 6/F, Nanyang Plaza, 57 Hung To Road <br> Kwun Tong, Kowloon, Hong Kong</p>'+
        '<b>Email: </b>willis_choi@laserwort.com</p>'+
        '</div>'+
        '</div>';
          
        var shanghaicontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Shanghai</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>W.S. Siu, part of Laserwort</p>'+
        '<p><b>Address:<br></b>Bldg. 6; No. 34; Lane 122 – Chun Xiao Road<br>Zhangjiang Hi-tech Area, Shanghai, China</p>'+
        '<b>Email: </b>w_s_siu@laserwort.com</p>'+
        '</div>'+
        '</div>';
          
        var hongkong2contentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Shanghai</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>Judy Chang, part of Teltec Semiconductor Pacific Ltd.</p>'+
        '<p><b>Address:<br></b>Rm. 2802, Wing On House,71 Des Voeux Road<br>Central Hong Kong</p>'+
        '<p><b>Phone: </b>+852-2521 4213<br>'+
        '<b>Fax: </b>+852 2810 6090<br>'+
        '<b>Email: </b>judy@teltec.asia</p>'+
        '</div>'+
        '</div>';
          
        var swisscontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Switzerland</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>Pierre Cahuzac, part of Teltec Semiconductor Pacific Ltd.</p>'+
        '<p><b>Address:<br></b>Champs-Montant 10B 2074<br>Marin, Switzerland</p>'+
        '<p><b>Phone: </b>+33 4 6722 6791<br>'+
        '<b>Fax: </b>+33 4 6722 2637<br>'+
        '<b>Email: </b>pierre.cahuzac@teltec.com</p>'+
        '</div>'+
        '</div>';
          
        var germanycontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Germany</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>Thomas Bohn, part of Teltec Semiconductor Pacific Ltd.</p>'+
        '<p><b>Address:<br></b>Am Moobach 6, 74535<br>Mainhardt, Germany</p>'+
        '<p><b>Phone: </b>+49-7903-9144-16<br>'+
        '<b>Fax: </b>+49-7903-9144-11<br>'+
        '<b>Email: </b>tb@teltec.com</p>'+
        '</div>'+
        '</div>';
          
        var japancontentString = '<div id="content">'+
        '<h6 id="firstHeading" class="firstHeading">Japan</h6>'+
        '<div id="bodyContent">'+
        '<p><b>Corporate Representative:<br></b>Kazuyuki Yoshioka, part of HiSOL Inc.</p>'+
        '<p><b>Address:<br></b>Am Moobach 6, 74535<br>Mainhardt, Germany</p>'+
        '<p><b>Phone: </b>+81-3-3836-2800<br>'+
        '<b>Fax: </b+81-3-3836-2266<br>'+
        '<b>Email: </b>yoshioka@hisol.jp</p>'+
        '</div>'+
        '</div>';



        var hqinfowindow = new google.maps.InfoWindow({
            content: hqcontentString
        });
          
        var breainfowindow = new google.maps.InfoWindow({
            content: breacontentString
        });
          
        var israelinfowindow = new google.maps.InfoWindow({
            content: israelcontentString
        });
          
        var russiainfowindow = new google.maps.InfoWindow({
            content: russiacontentString
        });
        var taiwaninfowindow = new google.maps.InfoWindow({
            content: taiwancontentString
        });
        
        var hongkonginfowindow = new google.maps.InfoWindow({
            content: hongkongcontentString
        });
        
        var shanghaiinfowindow = new google.maps.InfoWindow({
            content: shanghaicontentString
        });
          
        var hongkong2infowindow = new google.maps.InfoWindow({
            content: hongkong2contentString
        });
        
        var swissinfowindow = new google.maps.InfoWindow({
            content: swisscontentString
        });
         
        var germanyinfowindow = new google.maps.InfoWindow({
            content: germanycontentString
        });
          
         var japaninfowindow = new google.maps.InfoWindow({
            content: japancontentString
        });


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 1,
          minZoom: 1,
          center: {lat: 78.7867895, lng: -126.6795172}
        });
        var hqmarker = new google.maps.Marker({
          position: hq,
          map: map
        });
        hqinfowindow.open(map, hqmarker);

        hqmarker.addListener('click', function() {
            hqinfowindow.open(map, hqmarker);
        });

        var breamarker = new google.maps.Marker({
          position: brea,
          map: map
        });
        breamarker.addListener('click', function() {
            breainfowindow.open(map, breamarker);
        });
        var israelmarker = new google.maps.Marker({
          position: israel,
          map: map
        });
        israelmarker.addListener('click', function() {
            israelinfowindow.open(map, israelmarker);
        });
        var russiamarker = new google.maps.Marker({
          position: russia,
          map: map
        });
        russiamarker.addListener('click', function() {
            russiainfowindow.open(map, russiamarker);
        });
        var taiwanmarker = new google.maps.Marker({
          position: taiwan,
          map: map
        });
        taiwanmarker.addListener('click', function() {
            taiwaninfowindow.open(map, taiwanmarker);
        });
        var hongkongmarker = new google.maps.Marker({
          position: hongkong,
          map: map
        });
        hongkongmarker.addListener('click', function() {
            hongkonginfowindow.open(map, hongkongmarker);
        });
        var shanghaimarker = new google.maps.Marker({
          position: shanghai,
          map: map
        });
        shanghaimarker.addListener('click', function() {
            shanghaiinfowindow.open(map, shanghaimarker);
        });
        var hongkong2marker = new google.maps.Marker({
          position: hongkong2,
          map: map
        });
        hongkong2marker.addListener('click', function() {
            hongkong2infowindow.open(map, hongkong2marker);
        });
        var swissmarker = new google.maps.Marker({
          position: swiss,
          map: map
        });
        swissmarker.addListener('click', function() {
            swissinfowindow.open(map, swissmarker);
        });
        var germanymarker = new google.maps.Marker({
          position: germany,
          map: map
        });
        germanymarker.addListener('click', function() {
            germanyinfowindow.open(map, germanymarker);
        });
        var japanmarker = new google.maps.Marker({
          position: japan,
          map: map
        });
        japanmarker.addListener('click', function() {
            japaninfowindow.open(map, japanmarker);
        });
          
          
      }
    </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt2_jkQWKuHl6iy02idQyWXAQTGJLx2io&callback=initMap"
    async defer></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>