<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v3.12.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/cdsemi-logo180x65-354x128.png" type="image/x-icon">
  <meta name="description" content="Site Builder Description">
  <title>Site Builder Title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="assets/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
<section class="mbr-section article mbr-parallax-background" id="msg-box8-3w" style="background-image: url(assets/images/mbr-2000x1125.jpg); padding-top: 120px; padding-bottom: 80px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">WE ARE WHERE YOU ARE</h3>
                <div class="lead"><p><strong>10 global offices, and more to come</strong></p></div>
                
            </div>
        </div>
    </div>

</section>

<section class="engine"><a rel="external" href="https://mobirise.com">Web Generator</a></section><section class="mbr-section mbr-section__container" id="image2-3u" style="background-color: rgb(40, 50, 78); padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <figure class="mbr-figure">
                    <div><img src="assets/images/map-image-1-1400x686.png"></div>

                    

                </figure>
            </div>
        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-3y" style="background-color: rgb(40, 50, 78);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
              <div class="card cart-block">
                  
                  <div class="card-block">
                    <h4 class="card-title">Silicon Valley ( Corporate Headquarters)</h4>
                    <h5 class="card-subtitle"></h5>
                    <p class="card-text">2031 Concourse Drive<br>San Jose, California 95131<br>Tel: +408-383-1888<br>Fax: +408-383-1889<br>E-mail: contactus@cdsemi.com<br><br></p>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        <h4 class="card-title">Southern California</h4>
                        <h5 class="card-subtitle"></h5>
                        <p class="card-text">Rick Acaba<br>Brea, California<br>Tel: +714-993-2082<br>Cell: +714-600-3106<br>Fax: +714-993-2075<br>E-mail: racaba@cdsemi.com<br><br></p>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-40" style="background-color: rgb(40, 50, 78);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
              <div class="card cart-block">
                  
                  <div class="card-block">
                    <h4 class="card-title">Taiwan</h4>
                    
                    <p class="card-text">Summit Tek Industries Co., Ltd.<br>No. 16, 173 Lane, Scientific Park Road<br>Hsinchu, Taiwan<br>Contact: Vincent Lee / Elisa Lo<br>Tel: +(886)-3-567-8750<br>Fax: +(886)-3-579-0349<br>E-mail: summit.tek@msa.hinet.net<br>Website: www.summit-tek.com.tw<br><br></p>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        <h4 class="card-title">Hong Kong</h4>
                        
                        <p class="card-text">Laserwort – Head Office<br>Unit 603, 6/F, Nanyang Plaza, 57 Hung To Road, Kwun Tong, Kowloon, Hong Kong<br>Contact: Willis Choi<br>Email: willis_choi@laserwort.com<br>Website: www.laserwort.com<br><br></p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        <h4 class="card-title">China</h4>
                        
                        <p class="card-text">Laserwort – Shanghai Office<br>Bldg. 6; No. 34; Lane 122 – Chun Xiao Road, Zhangjiang Hi-tech Area, Shanghai, China<br>Contact: W. S. Siu<br>E-mail: w_s_siu@laserwort.com<br>Website: www.laserwort.com<br></p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        <h4 class="card-title">Japan</h4>
                        
                        <p class="card-text">HiSOL, Inc.<br>1-17-6 Ueno, Taito-ku, Tokyo, Japan<br>Contact:  Kazuyuki Yoshioka<br>Tel: +81-3-3836-2800<br>Fax: +81-3-3836-2266<br>E-mail: yoshioka@hisol.jp <br>Website: www.hisol.jp<br></p>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-41" style="background-color: rgb(40, 50, 78);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
              <div class="card cart-block">
                  
                  <div class="card-block">
                    <h4 class="card-title">Russia</h4>
                    
                    <p class="card-text">Arual Tech<br>Room 313, 34A Vyborgskoye Shosse<br>Saint Petersburg, Russia, 194356<br>Contact: Olzhas Amanzholov<br>Tel: +7 812 645 5353<br>E-mail: info@arualtech.ru<br>Website: www.arualtech.ru<br><br></p>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        <h4 class="card-title">Switzerland</h4>
                        
                        <p class="card-text">Teltec Semiconductor Technic S.A.<br>Champs-Montant 10B<br>2074 Marin, Switzerland<br>Contact: Pierre Cahuzac<br>Tel: +33 4 6722 6791<br>Fax: +33 4 6722 2637<br>E-mail: pierre.cahuzac@teltec.com <br>Website:  www.teltec.com<br><br></p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        <h4 class="card-title">Germany</h4>
                        
                        <p class="card-text">Teltec Semiconductor Technic Gmbh<br>Am Moobach 6, 74535<br>Mainhardt, Germany<br>Contact: Thomas Bohn<br>Tel: +49-7903-9144-16<br>Fax: +49-7903-9144-11<br>E-mail: tb@teltec.com<br>Website:  www.teltec.com<br><br></p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
                <div class="card cart-block">
                    
                    <div class="card-block">
                        <h4 class="card-title">Israel</h4>
                        
                        <p class="card-text">GAL Technologies Inc.<br>3, Tefutsot Israel St. – Industrial Center Givatayim, Israel<br>Contact:&nbsp;Elie Galimidi<br>Tel: &nbsp;972-3-571-4333<br>Cell: &nbsp;972-544-208-580<br>US Cell: 408-464-4908<br>Email: elie@galtechnologies.com or&nbsp;elie-galmidi@bezeqint.net<br><br></p>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

<section class="mbr-section" id="form1-3r" style="background-color: rgb(193, 193, 193); padding-top: 120px; padding-bottom: 120px;">
    
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">Have a Question?</h3>
                    <small class="mbr-section-subtitle">Drop us an email! We're always here for you.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">


                    <div data-form-alert="true">
                        <div hidden="" data-form-alert-success="true" class="alert alert-form alert-success text-xs-center">Thanks for filling out form!</div>
                    </div>


                    <form action="https://mobirise.com/" method="post" data-form-title="Have a Question?">

                        <input type="hidden" value="3X7ZFXcRYft3DqcEhClBuHWTO4vADrKr1LI+iI9Iu/75NXGQFpkRu/PAce6zN9Z3GclNbN7KeOwty7Wc/Rz7xqusuFnEdHa6JK6qpG7xt4jvvlZ9OP8bbVCq39W5lmes" data-form-email="true">

                        <div class="row row-sm-offset">

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3r-name">Name<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="name" required="" data-form-field="Name" id="form1-3r-name">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3r-email">Email<span class="form-asterisk">*</span></label>
                                    <input type="email" class="form-control" name="email" required="" data-form-field="Email" id="form1-3r-email">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-3r-phone">Phone</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="form1-3r-phone">
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="form1-3r-message">Message</label>
                            <textarea class="form-control" name="message" rows="7" data-form-field="Message" id="form1-3r-message"></textarea>
                        </div>

                        <div><button type="submit" class="btn btn-primary">CONTACT US</button></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-3o" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 C&amp;D Semiconductor Services Inc.</p>
    </div>
</footer>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="assets/jarallax/jarallax.js"></script>
  <script src="assets/viewport-checker/jquery.viewportchecker.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>
  
  
  <input name="animation" type="hidden">
   <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon"></i></a></div>
  </body>
</html>