<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="grey lighten-2">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="http://cdsemi.alwayscreating.com/wp-content/uploads/2016/06/cdsemi_logo180x65.png"></a>
        
        <ul class="right hide-on-med-and-down">
            <li><a class="blue-text text-darken-2" href="/"><b>Home</b></a></li>
            <li><a class="blue-text text-darken-2" href="/products"><b>Products</b></a></li>
            <li><a class="blue-text text-darken-2" href="/services"><b>Services</b></a></li>
            <li><a class="blue-text text-darken-2" href="/contact"><b>Contact</b></a></li>
            <li><a class="blue-text text-darken-2" href="/about"><b>About</b></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
              <li>
      <div class="background">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/field-service-support-420x250.jpg">
      </div>
     </li>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 <br>
  <div class="container">  
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg" style="height:475px;"></a>
    <a class="carousel-item" href="#two!"><img src="http://cdsemi.com/wp-content/uploads/2015/06/s5000_floor-standing_sorter_up_to_200_mm_candid_01.jpg" style="height:475px;"></a>
    <a class="carousel-item" href="#three!"><img src="http://cdsemi.com/wp-content/uploads/2015/06/v1020_microscope_wafer_loader.jpg" style="height:475px;"></a>
  </div>
    </div>
        
  <div class="row">
    
      <div class="col l3 s12">
          <h5 class="center-align">Coaters and Developers</h5>
          <p class="center-align">Good deal on this product here.</p>
          <div class="container">
              <img src="http://cdsemi.com/wp-content/uploads/2015/06/s5000_floor-standing_sorter_up_to_200_mm_candid_01.jpg" style='height: 100%; width: 100%; object-fit: contain;'>
          </div>
      </div>
      <div class="col l3 s12">
          <h5 class="center-align">Alloy and Anneal Systems</h5>
           <p class="center-align">good deal on this product here.</p>
          <div class="container">
              <img src="http://cdsemi.com/wp-content/uploads/2015/06/s5000_floor-standing_sorter_up_to_200_mm_candid_01.jpg" style='height: 100%; width: 100%; object-fit: contain;'>
          </div>
      </div>
      <div class="col l3 s12">
          <h5 class="center-align">Frame Processing Systems</h5>
            <p class="center-align">good deal on this product here.</p>
          <div class="container">
              <img src="http://cdsemi.com/wp-content/uploads/2015/06/s5000_floor-standing_sorter_up_to_200_mm_candid_01.jpg" style='height: 100%; width: 100%; object-fit: contain;'>
          </div>
      </div>
      
      <div class="col l3 s12">
          <h5 class="center-align">8x Scrubbers</h5>
            <p class="center-align">good deal on this product here.</p>
          <div class="container">
              <img src="http://cdsemi.com/wp-content/uploads/2015/06/s5000_floor-standing_sorter_up_to_200_mm_candid_01.jpg" style='height: 100%; width: 100%; object-fit: contain;'>
          </div>
      </div>
      
  </div>
      </div>

  <footer class="page-footer grey lighten-2">
      <div class="row">
        <div class="col l6 s12">
          <h5>Company Bio.</h5>
          <p>
              C&D Semiconductor, Inc. is an innovative, fast-growing semiconductor equipment manufacturer based in San Jose, California. Founded in 1989, we have been serving the global                         semiconductor and other related industries for more than two decades, with customers from all over the world.
          </p>


        </div>
        <div class="col l2 s12">
          <h5>Headquarters</h5>
          <ul>
            <li></li>
            <li><a>2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a href="#!">408-383-1888</a></li>
            <li><a href="#!">408-383-1889</a></li>
            <li><a href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5>Global Offices</h5>
          <ul>
            <li><a>2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a href="#!">408-383-1888</a></li>
            <li><a href="#!">408-383-1889</a></li>
            <li><a href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container">
          C&D Semiconductor Services (C) 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  

  </body>
</html>
