<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v3.12.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/cdsemi-logo180x65-354x128.png" type="image/x-icon">
  <meta name="description" content="Site Builder Description">
  <title>P7000</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="assets/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
<section id="menu-0">

    <section id="ext_menu-6">

    <nav class="navbar navbar-dropdown navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="/" class="navbar-logo"><img src="assets/images/logo.png" alt="C&D Semiconductors"></a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>
                    
                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="conductive-design.herokuapp.com" ></a></li>
                      <li class="nav-item"><a class="nav-link link" href="/" aria-expanded="false">HOME</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/products" aria-expanded="false">PRODUCTS</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/services" aria-expanded="false">SERVICES</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/about" aria-expanded="false">ABOUT</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/contact" aria-expanded="false">CONTACT</a></li>
                    </ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>
<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background" id="header2-1c" style="background-image: url(assets/images/2012-05-23-smartview-v3000-0085-wafer2-2000x1333.jpg); padding-top: 50px;">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
    </div>

    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">

            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">
                        
                        
                        

                        <div class="mbr-table-cell col-md-5 content-size text-xs-center text-md-right">

                            <h3 class="mbr-section-title display-2">P7000 Alloy Track System</h3>

                            <div class="mbr-section-text">
                                <p>A gentle, &nbsp;high throughput alloying system &nbsp;alternative to rapid thermal annealing.</p>
                            </div>

                            <div class="mbr-section-btn"><a class="btn btn-primary" href="http://cdsemi.com/wp-content/uploads/2016/05/P7000-V2-Datasheet.pdf">Download Brochure</a></div>

                        </div>
                        <div class="mbr-table-cell mbr-valign-top mbr-left-padding-md-up col-md-7 image-size" style="width: 50%;">
                            <div class="mbr-figure"><img src="assets/images/DSC_0267.JPG"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating hidden-sm-down" aria-hidden="true"><a href="#msg-box5-1g"><i class="mbr-arrow-icon"></i></a></div>

</section>

<section class="mbr-section" id="msg-box5-1g" style="background-color: rgb(204, 204, 204); padding-top: 80px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="assets/images/P8030 manual system.jpg"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2">A BETTER SOLUTION FOR METAL OHMIC ALLOYING</h3>
                  <div class="lead">

                    <p>Metal ohmic alloying is unique to the compound semiconductor industry and&nbsp;is therefore often ignored by major equipment manufacturers.&nbsp;There&nbsp;are two equipment choices for metal alloy – a relatively expensive Rapid&nbsp;Thermal Annealing (RTA) or a C&amp;D P7000 Alloy Track System that meets the specific needs of metal ohmic alloying. The P7000 is a cost-effective alternative to the expensive RTA, offering&nbsp;roughly twice as much throughput<br></p>

                  </div>

                  
              </div>


              

            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-1d" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              

              <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                  <h3 class="mbr-section-title display-2">RAPID AND GENTLE COOLING</h3>
                  <div class="lead">

                    <p>Using a &nbsp;controlled &nbsp;environment, wafers can be cooled within 60 seconds while &nbsp;preventing warping.</p>

                  </div>

                  
              </div>


              


              <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="assets/images/cd-semiconductor-alloy-cropped.jpg"></div>
              </div>

            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-1e" style="background-color: rgb(193, 193, 193); padding-top: 80px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="assets/images/cd-semiconductor-P9000EBR-0162.jpg"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2">HIGH THROUGHPUT</h3>
                  <div class="lead">

                    <p>The P7000 Alloy System offers increased&nbsp;throughput over the RTA making it an&nbsp;attractive option.&nbsp;A typical RTA has a throughput of 10 wafers&nbsp;per hour while the P7000 Alloy System can&nbsp;process 19 wafers per hour in serial mode&nbsp;and 23 wafers per hour in a parallel mode&nbsp;on one track.<br></p>

                  </div>

                  
              </div>


              

            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-1f" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              

              <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                  <h3 class="mbr-section-title display-2">OPERATE ANYWHERE</h3>
                  <div class="lead">

                    <p>Wafers can be processed in an&nbsp;ambient or an open-air environment&nbsp;which allows for a wide range of&nbsp;applications.<br></p>

                  </div>

                  
              </div>


              


              <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="assets/images/cd-semiconductor-P9000ctdisparm-0119.jpg"></div>
              </div>

            </div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section-nopadding" id="map1-6">
    <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJbXipPajOj4ARRvV3_Rqc8WY" allowfullscreen=""></iframe></div>
</section>
<section class="mbr-section mbr-section-md-padding mbr-footer footer1" id="contacts1-0" style="background-color: rgb(50, 50, 50); padding-top: 30px; padding-bottom: 0px;">
    
    <div class="container">
        <div class="row">
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <div><img src="assets/images/logo-128x86.png"></div>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Address</strong><br>2031 Concourse Dr,<br> San Jose, CA 95131<br></p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Contact</strong><br>
Email: contactus @ cdsemi.com<br>
Phone: 408-383-1888<br>
Fax: 408-383-1889</p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Global Offices</strong><br>
                  <a href="/contact"><b>Find an office near you</b></a>
            </div>

        </div>
    </div>
</section>
<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 C&amp;D Semiconductor Services Inc.</p>
    </div>
</footer>

  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewport-checker/jquery.viewportchecker.js"></script>
  <script src="assets/jarallax/jarallax.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
  <input name="animation" type="hidden">
   <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon"></i></a></div>
  </body>
</html>