<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="grey lighten-2">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="http://cdsemi.alwayscreating.com/wp-content/uploads/2016/06/cdsemi_logo180x65.png"></a>
        
        <ul class="right hide-on-med-and-down">
        <li><a class="blue-text text-darken-2" href="/"><b>Home</b></a></li>
         <li><a class="blue-text text-darken-2" href="/products"><b>Products</b></a></li>
         <li><a class="blue-text text-darken-2" href="/services"><b>Services</b></a></li>
         <li><a class="blue-text text-darken-2" href="/contact"><b>Contact</b></a></li>
         <li><a class="blue-text text-darken-2" href="/about"><b>About</b></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
              <li>
      <div class="background">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/field-service-support-420x250.jpg">
      </div>
     </li>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="spincoat" class="section scrollspy center-align">
          <h3>Spin Coaters and Developers</h3>
          <img class="img-responsive" src="http://cdsemi.com/wp-content/uploads/2015/06/P9000-A3-768x513.jpg">
      </div>

      <div id="alloy" class="section scrollspy center-align">
           <h3>Alloy/Anneal Systems</h3>
          <img class="img-responsive" src="http://cdsemi.com/wp-content/uploads/2015/06/P9000-A3-768x513.jpg">
      </div>

      <div id="frameprocess" class="section scrollspy center-align">
           <h3>Frame Processing Systems</h3>
          <img class="img-responsive" src="http://cdsemi.com/wp-content/uploads/2015/06/P9000-A3-768x513.jpg">
      </div>
      <div id="scrubber" class="section scrollspy center-align">
           <h3>8x Scrubber</h3>
          <img class="img-responsive" src="http://cdsemi.com/wp-content/uploads/2015/06/P9000-A3-768x513.jpg">
      </div>
      <div id="liftoff" class="section scrollspy center-align">
           <h3>Lift Off Systems</h3>
          <img class="img-responsive" src="http://cdsemi.com/wp-content/uploads/2015/06/P9000-A3-768x513.jpg">
      </div> 
      <div id="inspect" class="section scrollspy center-align">
           <h3>Wafer Inspection Systems</h3>
          <img class="img-responsive" src="http://cdsemi.com/wp-content/uploads/2015/06/P9000-A3-768x513.jpg">
      </div>
      <div id="microloader" class="section scrollspy center-align">
           <h3>Wafer Microscope Wafer Loader</h3>
          <img class="img-responsive" src="http://cdsemi.com/wp-content/uploads/2015/06/P9000-A3-768x513.jpg">
      </div>
      <div id="sorter" class="section scrollspy center-align">
           <h3>Wafer Sorter</h3>
          <img class="img-responsive" src="http://cdsemi.com/wp-content/uploads/2015/06/P9000-A3-768x513.jpg">
      </div>

    </div>
    <div class="col hide-on-small-only m3 l2" style="position:fixed;">
      <ul class="section table-of-contents">
        <li><a href="#spincoat">Spin Coaters and Developers</a></li>
        <li><a href="#alloy">Alloy/Anneal Systems</a></li>
        <li><a href="#frameprocess">Frame Processing Systems</a></li>
        <li><a href="#scrubber">8x Scrubber</a></li>
        <li><a href="#liftoff">Lift Off Systems</a></li>
        <li><a href="#inspect">Wafer Inspection Systems</a></li>
        <li><a href="#microloader">Wafer Microscope Wafer Loader</a></li>
        <li><a href="#sorter">Wafer Sorter</a></li>
      </ul>
    </div>
  </div>
    
    
    
    
    
    
    
    
    
      <footer class="page-footer grey">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio.</h5>
          <p class="grey-text text-lighten-4">
              C&D Semiconductor, Inc. is an innovative, fast-growing semiconductor equipment manufacturer based in San Jose, California. Founded in 1989, we have been serving the global                         semiconductor and other related industries for more than two decades, with customers from all over the world.
          </p>


        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Headquarters</h5>
          <ul>
            <li></li>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Global Offices</h5>
          <ul>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Products</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Services</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container">
          C&D Semiconductor Services (C) 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>