<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/products.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

<nav class="white" role="navigation">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="http://cdsemi.alwayscreating.com/wp-content/uploads/2016/06/cdsemi_logo180x65.png"></a>
      <ul class="right hide-on-med-and-down">
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/products"><b>Products</b></a></li>
            <li><a href="/services"><b>Services</b></a></li>
            <li><a href="/contact"><b>Contact</b></a></li>
            <li><a href="/about"><b>About</b></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
            <li><a href="/"><b>Home</b></a></li>
            <li><a href="/products"><b>Products</b></a></li>
            <li><a href="/services"><b>Services</b></a></li>
            <li><a href="/contact"><b>Contact</b></a></li>
            <li><a href="/about"><b>About</b></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div id="index-banner" class="parallax-container">
      <div class="container">
        <h1 class="center white-text" style="padding-top:10%;">PRODUCTS</h1>
        <br><br>

     </div>
    <div class="parallax"><img src="https://image.shutterstock.com/z/stock-photo-macro-of-silicon-wafers-low-dof-489605140.jpg" alt="Unsplashed background img 1"></div>
  </div>

<div class="container">
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg">
      </div>
      <div class="card-stacked row">
        <div class="card-content s12">
              <h3>Wafer Inspection Systems</h3>

          <p>The system can be operated in either auto or manual mode: the former automates wafer inspection through the use of recipes while the latter allows the operator the maximum operation flexibility. All operations, whether auto or manual, are carried out through the system’s intuitive graphical user interface. Its 34” x 45” footprint ensures that the system can be conveniently installed on a table top.</p>
        </div>
        <div class="card-action s12">
          <a href="#">View All Wafer Inspection Systems</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Spin Coaters & Developers</h3>
          <p>Offers a wide range of functions which include expanded recipe storage, data logging, manual exercise mode, and system networking. The system can be configured with modules for coating, developing, baking, priming, and chilling.</p>
        </div>
        <div class="card-action">
          <a href="#">View All Spin Coaters & Developers</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Alloy/Anneal Systems</h3>
          <p>A modified multi-hotplate track system specifically tailored for the needs of metal ohmic alloying. The system is primarily designed for the processing of 50mm– 200mm GaAs and InP wafers. It features engineering simplicity and ease of use and is a cost-effective alternative to the expensive Rapid Thermal Annealing (RTA), offering roughly twice as much throughput.</p>
        </div>
        <div class="card-action">
          <a href="#">View All Spin Coaters & Developers</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Frame Processing System</h3>
          <p>Software-controlled, pre-saw wafer coating and post-saw wafer cleaning system. The system features a high-performance spindle motor and high-precision stepper motor and can be operated in either auto or manual mode for thin wafers of different frame sizes.</p>
        </div>
        <div class="card-action">
          <a href="#">View All Spin Coaters & Developers</a>
        </div>
      </div>
    </div>
  </div>
      <div class="col s12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Lift Off Systems</h3>
          <p>The cassette to cassette design offers a reduced overall system footprint. C&D uses a low pressure spray to soak the wafer for a programmed duration – this is followed by a high pressure fine needle spray. The programmed arm sweeps across the wafer to evenly lift off unwanted metal.</p>
        </div>
        <div class="card-action">
          <a href="#">View All Spin Coaters & Developers</a>
        </div>
      </div>
    </div>
  </div>
      <div class="col s12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Wafer Microscope Loading Systems</h3>
          <p>Offers a wide range of functions which include expanded recipe storage, data logging, manual exercise mode, and system networking. The system can be configured with modules for coating, developing, baking, priming, and chilling.</p>
        </div>
        <div class="card-action">
          <a href="#">View All Spin Coaters & Developers</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Wafer Sorters</h3>
          <p>Offers a wide range of functions which include expanded recipe storage, data logging, manual exercise mode, and system networking. The system can be configured with modules for coating, developing, baking, priming, and chilling.</p>
        </div>
        <div class="card-action">
          <a href="#">View All Spin Coaters & Developers</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>8x Scrubbers</h3>
          <p>Offers a wide range of functions which include expanded recipe storage, data logging, manual exercise mode, and system networking. The system can be configured with modules for coating, developing, baking, priming, and chilling.</p>
        </div>
        <div class="card-action">
          <a href="#">View All Spin Coaters & Developers</a>
        </div>
      </div>
    </div>
  </div>
</div>    
    
    
    
    
    
    
      <footer class="page-footer grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>C&D Semiconductor Services Inc.</h5>
          <p>2031 Concourse Drive <br>San Jose, CA 95131 <br> <b>Email: </b> contactus@cdsemi.com <br> <b>Phone: </b> (408) 383 - 1888 <br> <b>Fax: </b> (408) 383 - 1889</p>
        </div>
<<<<<<< HEAD
=======
        <div class="col l2 s12">
          <h5 class="white-text">Headquarters</h5>
          <ul>
            <li></li>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Global Offices</h5>
          <ul>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Products</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Services</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container black-text">
          C&D Semiconductor Services (C) 2017
>>>>>>> 0afe7376680de2500d59e01071bc4367e60f8a87
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>