<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v3.12.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/cdsemi-logo180x65-354x128.png" type="image/x-icon">
  <meta name="description" content="Website Builder Description">
  <title>C&D Semiconductor - Products</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="assets/mobirise-gallery/style.css">

  <link rel="stylesheet" href="assets/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="assets/et-line-font-plugin/style.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
 <style>
     div.scroll {
    overflow: scroll;
}
     .vertalign {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
 </style>
  
  
  
</head>
<body>
<section id="menu-a">

    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="/" class="navbar-logo"><img src="assets/images/logo.png" alt="Mobirise"></a>
                        <a class="navbar-caption" href="C&D Semiconductors"></a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                      <li class="nav-item"><a class="nav-link link" href="/"></a></li>
                      <li class="nav-item"><a class="nav-link link" href="/" aria-expanded="false">HOME</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/products" aria-expanded="false">PRODUCTS</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/services" aria-expanded="false">SERVICES</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/about" aria-expanded="false">ABOUT</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/contact" aria-expanded="false">CONTACT</a></li>
                    </ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>

<section class="engine"><a rel="external" href="">C&D Semi</a></section><section class="mbr-section mbr-parallax-background mbr-after-navbar" id="msg-box6-k" style="background-image: url(assets/images/img-2000x3000.jpg); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              

              <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                  <h3 class="mbr-section-title display-2">PRODUCTS JUST FOR YOU</h3>
                  <div class="lead">

                    <p>We customize products to your business and financial needs.</p>

                  </div>

                  
              </div>


              


              <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>

  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="http://cdsemi.com/wp-content/uploads/2015/06/v2000_microscope_wafer_loader.jpg" alt="First slide" href="#lb-gallery3-f" data-slide-to="0" data-toggle="modal">
      <span class="mbr-gallery-title">V2000 Bright Light Inspection System</span>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="http://cdsemi.com/wp-content/uploads/2015/06/v3000_microscope_wafer_loader.jpg" alt="Second slide" href="#lb-gallery3-f" data-slide-to="1" data-toggle="modal">
       <span class="mbr-gallery-title">V3000 Macro-scope Defect Review System</span>

    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="http://cdsemi.com/wp-content/uploads/2015/06/p7000-alloy-anneal2-420x250.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="2" data-toggle="modal">
      <span class="mbr-gallery-title">P7000 Alloy/Anneal System</span>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="http://cdsemi.com/wp-content/uploads/2015/06/p8030_automatic_frame_processing_system_candid2.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="3" data-toggle="modal">
      <span class="mbr-gallery-title">P9000-30 Automatic/Manual Frame Processing System</span>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="http://cdsemi.com/wp-content/uploads/2015/06/lift-off_system.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="4" data-toggle="modal">
      <span class="mbr-gallery-title">8x Scrubber</span>
    </div>
        <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/images/lift2.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="5" data-toggle="modal">
      <span class="mbr-gallery-title">Lift-Off System</span>
    </div>
        <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/images/v1020_microscope_wafer_loader.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="6" data-toggle="modal">
      <span class="mbr-gallery-title">V1020 Microscope Wafer Loader</span>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/images/s5030_floor.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="7" data-toggle="modal">
      <span class="mbr-gallery-title">S5000 Floor-standing Sorter</span>
    </div>
      <div class="carousel-item">
      <img class="d-block img-fluid" src="http://cdsemi.com/wp-content/uploads/2015/06/copper_bumber-dry_film_developer.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="8" data-toggle="modal">
      <span class="mbr-gallery-title">P8060 Copper Bump Developer</span>
    </div>
      <div class="carousel-item">
      <img class="d-block img-fluid" src="http://cdsemi.com/wp-content/uploads/2016/07/svg-600x400.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="9" data-toggle="modal">
      <span class="mbr-gallery-title">SVG 8x Track System</span>
    </div>
      <div class="carousel-item">
      <img class="d-block img-fluid" src="http://cdsemi.com/wp-content/uploads/2015/06/p8010-600x400.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="10" data-toggle="modal">
      <span class="mbr-gallery-title">P8010 Advanced Linear Track System</span>
    </div>
      <div class="carousel-item">
      <img class="d-block img-fluid" src="http://cdsemi.com/wp-content/uploads/2015/06/P9000-A3-768x513.jpg" alt="Third slide" href="#lb-gallery3-f" data-slide-to="11" data-toggle="modal">
      <span class="mbr-gallery-title">P9000 Coater and Developer Cluster</span>
    </div>
  </div>
  <a class="carousel-control left" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control right" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                  </div>
              </div>

            </div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-l" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 40px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img icon"><img src="assets/images/smart-vision.png"></div>
                    <div class="card-block">
                        <h4 class="card-title"></h4>
                        <h5 class="card-subtitle"></h5>
                        <p class="card-text">The smartVision family of products offers advanced inspection systems for detecting patterns defects and particles on a wafer. </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 40px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img icon"><img src="assets/images/smart-pro.png"></div>
                    <div class="card-block">
                        <h4 class="card-title"></h4>
                        <h5 class="card-subtitle"></h5>
                        <p class="card-text">The smartPro family of products includes systems used in photolithography process of semiconductor, MEMS, and other exotic substrate manufacturing. </p>
                        
                    </div>
                </div>
          </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 40px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img icon"><img src="assets/images/smart-sort.png"></div>
                    <div class="card-block">
                        <h4 class="card-title"></h4>
                        <h5 class="card-subtitle"></h5>
                        <p class="card-text">The smartSort family of products offers high throughput sorting of wafers 50mm to 300m and to categories based on customer’s requirement.<br></p>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
</section>

<section class="mbr-gallery mbr-section mbr-section-nopadding mbr-slider-carousel" id="gallery3-f" data-filter="true" style="background-color: rgb(0, 0, 0); padding-top: 3rem; padding-bottom: 3rem;">
    <!-- Filter -->
    <div id="buttons"></div>
  <div class="dropdown-menu mbr-gallery-filter" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#!">All</a>
    <a class="dropdown-item" href="#!">Wafer Inspection Systems</a>
    <a class="dropdown-item" href="#!">Alloy and Annealing Systems</a>
    <a class="dropdown-item" href="#!">Coater and Developer</a>
    <a class="dropdown-item" href="#!">Lift Off and Scrubbing System</a>
    <a class="dropdown-item" href="#!">Microscope Loader Systems</a>
    <a class="dropdown-item" href="#!">Wafer Sorter</a>


  </div>
</div>
    <!-- Gallery -->
    <div id ="gallery" class="mbr-gallery-row">
        <div class=" mbr-gallery-layout-default">
            <div>
                <div>
                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" style="z-index: 100;" data-tags="Wafer Inspection Systems" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="0" data-toggle="modal">
              
                            

                            <img alt="" src="assets/images/v2000_microscope_wafer_loader.jpg">
                            
                            <span class="icon-focus"> 
                                <div class="container">
                                <h5>V2000 Bright Light Inspection System</h5>
                                <p>The V2000 Bright Light is a powerful, easy-to-use, dual-cassette, wafer-inspection system that can effectively discover all types of defects on wafers. The system can be operated in either auto or manual mode. All operations are carried out through the system’s intuitive graphical user interface. Its 34” x 45” footprint ensures that the system can be conveniently installed on a table top.
</p>
                                <br>
                                <a href="/v2000" class="btn btn-primary btn-xs">Learn More</a>
                               
                               </div>
                            </span>
                            <span class="mbr-gallery-title">V2000 Bright Light Inspection System</span>
                        </div>
                    </div>

                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Wafer Inspection Systems" style="z-index: 95;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="1" data-toggle="modal">

                            
                            

                            <img alt="" src="assets/images/v3000_microscope_wafer_loader.jpg">
                            
                            <span class="icon-focus"> 
                                <div class="container">
                                <h5>V3000 Macro-Scope Defect Review System</h5>
                                <p>The V3000 Macro-Scope Defect Review System is a powerful, easy-to-use, dual-cassette, all-in-one wafer inspection system that is able to handle both macro- and micro-inspection of wafers. The system can be operated in either automatic or manual mode, & has an intuitive, easy-to-use graphical user interface. This system enables the operator to easily spot defects during macro inspection, and simply move the substrate to the microscope for detailed inspections.
</p>
                                <a href="/v3000" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>
                            <span class="mbr-gallery-title">V3000 Macro-Scope Defect Review System</span>
                        </div>
                    </div>

                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Alloy and Annealing Systems" style="z-index: 90;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="2" data-toggle="modal">
                            

                            <img alt="" src="assets/images/P7000.jpg">
                            
                              <span class="icon-focus"> 
                                <div class="container">
                                <h5>The P7000 Alloy/Anneal System</h5>
                                <p>The P7000 Alloy/Anneal System is a modified multi-hotplate track system specifically tailored for the needs of metal ohmic alloying. The system is primarily designed for the processing of 50mm– 200mm GaAs and InP wafers. It features engineering simplicity & ease of use, and is a cost-effective alternative to costly Rapid Thermal Annealing (RTA), offering almost double the throughput.
</p>
                                <br>
                                <br>
                                <br>
                                <a href="/p7000" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>                            
                            <span class="mbr-gallery-title">The P7000 Alloy/Anneal System</span>
                        </div>
                    </div>

                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Coater and Developer" style="z-index: 85;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="3" data-toggle="modal">
                            

                            <img alt="" src="assets/images/p900030.jpg">
                            
                              <span class="icon-focus"> 
                                <div class="container">
                                <h5>P9000-30 Automatic/Manual Frame Processing System</h5>
                                <p>The P9000-30 Frame Processing System is a software-controlled, pre-saw wafer coating and post-saw wafer cleaning system. The system features a high-performance spindle motor and high-precision stepper motor and can be operated in either auto or manual mode for thin wafers of different frame sizes.</p>
                                     <br>
                                <br>
                                <br>
                                <a href="/p900030" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>                            
                            <span class="mbr-gallery-title">P9000-30 Automatic/Manual Frame Processing System</span>
                        </div>
                    </div>

                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Lift-Off and Scrubbing Systems" style="z-index: 80;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="4" data-toggle="modal">
                            

                            <img alt="" src="assets/images/8xscrubbers.jpg">
                            
                             <span class="icon-focus"> 
                                <div class="container">
                                <h5>8x Scrubber</h5>
                                <p>The C&D 8x Scrubber is a fully automatic cleaner designed to scrub with brush and/or high pressure arm, rinse, and spin dry substrates. It's dual level spinning process and the large diameter process enclosure reduce splash and spray onto the substrate and the handling mechanism. Splash back is virtually eliminated.
</p>
                                     <br>
                                <br>
                                <br>
                                    <br>
                                <a href="/SVG8XScrub" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>                                  
                            <span class="mbr-gallery-title">8x Scrubber</span>
                        </div>
                    </div>

                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Lift-Off and Scrubbing Systems" style="z-index: 75;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="5" data-toggle="modal">
                            

                            <img alt="" src="assets/images/lift2.jpg">
                            
                             <span class="icon-focus"> 
                                <div class="container">
                                <h5>Lift-Off System</h5>
                                <p>The P8000 Lift-off System is a fully automated system designed for metal lift-off application. The cassette to cassette design offers a reduced overall system footprint. The programmed arm sweeps across the wafer to evenly lift off unwanted metal.</p>
                                        <br>
                                <br>
                                <br>
                                    <br>
                                        <br>
                                <br>
                                
                                <a href="/LiftOffSystem" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>                                  
                            <span class="mbr-gallery-title">Lift-Off System</span>
                        </div>
                    </div>

                   

                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Microscope Loader Systems" style="z-index: 65;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="6" data-toggle="modal">
                            
                            

                            <img alt="" src="assets/images/v1020_microscope_wafer_loader.jpg">
                            
                             <span class="icon-focus"> 
                                <div class="container">
                                <h5>V1020 Microscope Wafer Loader</h5>
                                <p>The next generation V1020 Microscope Wafer Loader achieves higher throughput than the previous generation while maintaining C&D’s well-known standards of reliability and ease of use. The V1020 is designed to fully automate loading and unloading of wafers from cassette to the microscope stage for inspection. The new V1020 is faster & comes with improved inspection features.</p>
                                        <br>
                                <br>
                               <br>
                                <a href="/v1020" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>                                  
                            <span class="mbr-gallery-title">V1020 Microscope Wafer Loader</span>
                        </div>
                    </div>

                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Wafer Sorter" style="z-index: 60;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="7" data-toggle="modal">
                            
                            

                            <img alt="" src="assets/images/s5030_floor.jpg">
                            
                              <span class="icon-focus"> 
                                <div class="container">
                                <h5>S5000 Floor-standing Sorter</h5>
                                <p>The S5010 is a recipe-driven, high-throughput wafer sorting system with an efficient radial footprint. The system can process wafers between 100mm and 200mm, at the speed of >350 wafers per hour (WPH) when reading laser marks and 750 WPH when transferring between cassettes. It boasts an impressive 10,000 hours Meantime Between Failures and 10,000 cycles Mean Wafers Between Assists.</p>
                                <br>
                                <br>
                                <br>
                                <a href="/s5000" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>                                  
                            <span class="mbr-gallery-title">S5000 Floor-standing Sorter (up to 200 mm)

                            </span>
                            </div>
                          </div>
                    
                    
                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Coater and Developer" style="z-index: 55;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="8" data-toggle="modal">
                            
                            

                            <img alt="" src="assets/images/svg-600x400.jpg">
                            
                             <span class="icon-focus"> 
                                <div class="container">
                                <h5>SVG 8x Track System</h5>
                                <p>The SVG 8X system can process 2” – 8” wafers, and performs dual wafer size bridging without any hardware change. The SVG 86X belt transfer system works well for square or rectangular substrates while the SVG 88X transfer arms provide minimal contact with the backside of the wafer. SVG 86X can run 2” – 6″ substrates and the SVG 88X can run 2” – 8” substrates.
</p>
                                <br>
                                <br>
                                <br>
                                <a href="/SVG8x" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>                                  
                            <span class="mbr-gallery-title">SVG 8x Track System</span>
                        </div>
                        </div>
                    
                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Coater and Developer" style="z-index: 50;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="9" data-toggle="modal">
                            
                            

                            <img alt="" src="assets/images/IMG_9399.JPG">
                            
                             <span class="icon-focus"> 
                                <div class="container">
                                <h5>P8060 Copper Bump Developer</h5>
                                <p>The P8060 Copper Bump Developer is specially made for developing dry laminated film resist. The high capacity heat exchanger allows a perfect process solution temperature required for thick laminated films. The heat exchanger controls the developer temperature for 4 process modules simultaneously for maximum flexibility and throughput. Save time and money with C&D’s pressure tanks.
</p>
                                    <br>
                                <br>
                                <a href="/p8060" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>                                  
                            <span class="mbr-gallery-title">P8060 Copper Bump Developer</span>
                        </div>
                        </div>
                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Coater and Developer" style="z-index: 45;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="10" data-toggle="modal">
                            
                            

                            <img alt="" src="assets/images/p8010-600x400.jpg">
                            
                             <span class="icon-focus"> 
                                <div class="container">
                                <h5>P8010 Advanced Linear Track System</h5>
                                <p>The P8010 Advanced Linear Track System is a recipe-driven wafer coater and developer, featuring powerful Rabbit Microprocessors and an intuitive graphical user interface (GUI), which provides unprecedented capabilities for linear track systems. The system offers a wide range of functions and configurability for various modules. 
</p>
                                    <br>
                                <br>
                                <a href="/p8010" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>                                  
                            <span class="mbr-gallery-title">P8010 Advanced Linear Track System</span>
                        </div>
                        </div>
                    
                    
                    <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Coater and Developer" style="z-index: 40;" data-video-url="false">
                        <div href="#lb-gallery3-f" data-slide-to="11" data-toggle="modal">
                            
                            

                            <img alt="" src="assets/images/p9000.jpg">
                            
                            <span class="icon-focus"> 
                                <div class="container">
                                <h5>P9000 Coater and Developer Cluster</h5>
                                <p>The C&D P9000 Coater and Developer Cluster System processes 2” – 12” wafers. It can be equipped with vapor prime modules, hot plates, and chill plates. The P9000 Cluster System exhibits flexibility & high throughput within a small footprint,and can be configured as a coater, developer, vapor prime, bake, chill or any variation & can process a wide range of polymer applications</p>
                                <br>
                                <a href="/p9000" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </span>
                            <span class="mbr-gallery-title">P9000 Coater and Developer Cluster</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Lightbox -->
    <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery3-f">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <ol class="carousel-indicators">
                        <li data-app-prevent-settings="" data-target="#lb-gallery3-f" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#lb-gallery3-f" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#lb-gallery3-f" data-slide-to="2"></li><li data-app-prevent-settings="" data-target="#lb-gallery3-f" data-slide-to="3"></li><li data-app-prevent-settings="" data-target="#lb-gallery3-f" data-slide-to="4"></li><li data-app-prevent-settings="" data-target="#lb-gallery3-f" data-slide-to="5"></li><li data-app-prevent-settings="" data-target="#lb-gallery3-f" class=" active" data-slide-to="6"></li><li data-app-prevent-settings="" data-target="#lb-gallery3-f" data-slide-to="7"></li>
                    </ol>
                    <div class="carousel-inner vertalign" style="background-color:white;">
                        <div class="carousel-item">
                            <div class="container">
                                <h5>V2000 Bright Light Inspection System</h5>
                                <p>The V2000 Bright Light is a powerful, easy-to-use, dual-cassette, wafer-inspection system that can effectively discover all types of defects on wafers. The system can be operated in either auto or manual mode. All operations are carried out through the system’s intuitive graphical user interface. Its 34” x 45” footprint ensures that the system can be conveniently installed on a table top.
</p>
                                <a href="/v2000" class="btn btn-primary btn-xs">Learn More</a>
                            </div>
                        </div>


                        <div class="carousel-item">
                            <div class="container">
              <h5>V3000 Macro-Scope Defect Review System</h5>
                                <p>The V3000 Macro-Scope Defect Review System is a powerful, easy-to-use, dual-cassette, all-in-one wafer inspection system that is able to handle both macro- and micro-inspection of wafers. The system can be operated in either automatic or manual mode, & has an intuitive, easy-to-use graphical user interface. This system enables the operator to easily spot defects during macro inspection, and simply move the substrate to the microscope for detailed inspections.
</p>
                                <a href="/v3000" class="btn btn-primary btn-xs">Learn More</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class ="container">
                                              <h5>The P7000 Alloy/Anneal System</h5>
                                <p>The P7000 Alloy/Anneal System is a modified multi-hotplate track system specifically tailored for the needs of metal ohmic alloying. The system is primarily designed for the processing of 50mm– 200mm GaAs and InP wafers. It features engineering simplicity & ease of use, and is a cost-effective alternative to costly Rapid Thermal Annealing (RTA), offering almost double the throughput.
</p>
                                <a href="/p7000" class="btn btn-primary btn-xs">Learn More</a>
                            </div>
                        
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                             <h5>P9000-30 Automatic/Manual Frame Processing System</h5>
                                <p>The P9000-30 Frame Processing System is a software-controlled, pre-saw wafer coating and post-saw wafer cleaning system. The system features a high-performance spindle motor and high-precision stepper motor and can be operated in either auto or manual mode for thin wafers of different frame sizes.</p>
                                <a href="/p900030" class="btn btn-primary btn-xs">Learn More</a>
                            </div>
                        </div>
                        
                        <div class="carousel-item">
                            <div class="container">
                                                            <h5>8x Scrubber</h5>
                                <p>The C&D 8x Scrubber is a fully automatic cleaner designed to scrub with brush and/or high pressure arm, rinse, and spin dry substrates. It's dual level spinning process and the large diameter process enclosure reduce splash and spray onto the substrate and the handling mechanism. Splash back is virtually eliminated.
</p>
                                <a href="/SVG8XScrub" class="btn btn-primary btn-xs">Learn More</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                                  <div class="container">
                                <h5>Lift-Off System</h5>
                                <p>The P8000 Lift-off System is a fully automated system designed for metal lift-off application. The cassette to cassette design offers a reduced overall system footprint. The programmed arm sweeps across the wafer to evenly lift off unwanted metal.</p>
                                <a href="/LiftOffSystem" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                        </div>
                        <div class="carousel-item">
                                    <div class="container">
                                <h5>V1020 Microscope Wafer Loader</h5>
                                <p>The next generation V1020 Microscope Wafer Loader achieves higher throughput than the previous generation while maintaining C&D’s well-known standards of reliability and ease of use. The V1020 is designed to fully automate loading and unloading of wafers from cassette to the microscope stage for inspection. The new V1020 is faster & comes with improved inspection features.</p>
                                <a href="/v1020" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                        </div>
                        <div class="carousel-item active">
                            <br>
                           <div class="container">
                                <h5>S5000 Floor-standing Sorter</h5>
                                <p>The S5010 is a recipe-driven, high-throughput wafer sorting system with an efficient radial footprint. The system can process wafers between 100mm and 200mm, at the speed of >350 wafers per hour (WPH) when reading laser marks and 750 WPH when transferring between cassettes. It boasts an impressive 10,000 hours Meantime Between Failures and 10,000 cycles Mean Wafers Between Assists.</p>

                                <a href="/s5000" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </div>
                        <div class="carousel-item">
                            <br>
                            <div class="container">
                                          <div class="container">
                                <h5>SVG 8x Track System</h5>
                                <p>The SVG 8X system can process 2” – 8” wafers, and performs dual wafer size bridging without any hardware change. The SVG 86X belt transfer system works well for square or rectangular substrates while the SVG 88X transfer arms provide minimal contact with the backside of the wafer. SVG 86X can run 2” – 6″ substrates and the SVG 88X can run 2” – 8” substrates.
</p>
                                <a href="/SVG8x" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                            </div>

                        </div>
                         <div class="carousel-item">
                            <div class="container">
                                <h5>P8060 Copper Bump Developer</h5>
                                <p>The P8060 Copper Bump Developer is specially made for developing dry laminated film resist. The high capacity heat exchanger allows a perfect process solution temperature required for thick laminated films. The heat exchanger controls the developer temperature for 4 process modules simultaneously for maximum flexibility and throughput. Save time and money with C&D’s pressure tanks.
</p>
                                <a href="/p8060" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                        </div>
                         <div class="carousel-item">
                          <div class="container">
                                <h5>P8010 Advanced Linear Track System</h5>
                                <p>The P8010 Advanced Linear Track System is a recipe-driven wafer coater and developer, featuring powerful Rabbit Microprocessors and an intuitive graphical user interface (GUI), which provides unprecedented capabilities for linear track systems. The system offers a wide range of functions and configurability for various modules. 
</p>
                                <a href="/p8010" class="btn btn-primary btn-xs">Learn More</a>
                               </div>
                        </div>
                         <div class="carousel-item">
                            <div class="container">
                            <h5>P9000 Coater and Developer Cluster</h5>
                            <p>The C&D P9000 Coater and Developer Cluster System is designed to process 2” – 12” wafers. The P9000 can be equipped with vapor prime modules, hot plates, and chill plates. C&D’s P9000 Cluster System is designed for flexibility and high throughput within a small footprint. The P9000 can be configured as a coater, developer, vapor prime, bake, chill or any variation, and can process a wide range of photoresist and photosensitive polymer applications</p>
                            <div class="container">
                            <a href="/p9000" class="btn btn-primary">Learn More</a>
                            </div>
                            </div>
                        </div>
                         <div class="carousel-item">
                            <div class="container">
                            <h5>P9000 Coater and Developer Cluster</h5>
                            <p>The C&D P9000 Coater and Developer Cluster System is designed to process 2” – 12” wafers. The P9000 can be equipped with vapor prime modules, hot plates, and chill plates. C&D’s P9000 Cluster System is designed for flexibility and high throughput within a small footprint. The P9000 can be configured as a coater, developer, vapor prime, bake, chill or any variation, and can process a wide range of photoresist and photosensitive polymer applications</p>
                            <div class="container">
                            <a href="/p9000" class="btn btn-primary">Learn More</a>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <a class="close" href="#" role="button" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section-nopadding" id="map1-6">
    <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJbXipPajOj4ARRvV3_Rqc8WY" allowfullscreen=""></iframe></div>
</section>
<section class="mbr-section mbr-section-md-padding mbr-footer footer1" id="contacts1-0" style="background-color: rgb(50, 50, 50); padding-top: 30px; padding-bottom: 0px;">
    
    <div class="container">
        <div class="row">
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <div><img src="assets/images/logo-128x86.png"></div>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Address</strong><br>2031 Concourse Dr,<br> San Jose, CA 95131<br></p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Contact</strong><br>
Email: contactus @ cdsemi.com<br>
Phone: 408-383-1888<br>
Fax: 408-383-1889</p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Global Offices</strong><br>
                  <a href="/contact"><b>Find an office near you</b></a>
            </div>

        </div>
    </div>
</section>
<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-b" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 C&amp;D Semiconductor Services Inc.</p>
    </div>
</footer>
    


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewport-checker/jquery.viewportchecker.js"></script>
  <script src="assets/jarallax/jarallax.js"></script>
  <script src="assets/masonry/masonry.pkgd.min.js"></script>
  <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/mobirise-gallery/player.min.js"></script>
  <script src="assets/mobirise-gallery/script.js"></script>
  
  <script src="assets/dropdown/js/script.min.js"></script>

        <script>
        (function() {
             if ($(window).width() < 600) {
                    $(".icon-focus").remove();
                    $(".mbr-gallery-item--p1").width("68%");
                console.log("Done")
            }
            else {
                $(".modal").remove();
            }
}())
    </script>

  
  
  <input name="animation" type="hidden">
  </body>
</html>