<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93003840-1', 'auto');
  ga('send', 'pageview');

</script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="white">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="http://cdsemi.alwayscreating.com/wp-content/uploads/2016/06/cdsemi_logo180x65.png"></a>
        
        <ul class="right hide-on-med-and-down">
        <li><a class="blue-text text-darken-2" href="/"><b>Home</b></a></li>
         <li><a class="blue-text text-darken-2" href="/products"><b>Products</b></a></li>
         <li><a class="blue-text text-darken-2" href="/services"><b>Services</b></a></li>
         <li><a class="blue-text text-darken-2" href="/contact"><b>Contact</b></a></li>
         <li><a class="blue-text text-darken-2" href="/about"><b>About</b></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
              <li>
      <div class="background">
        <img src="http://cdsemi.com/wp-content/uploads/2015/06/field-service-support-420x250.jpg">
      </div>
     </li>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <h1 style="text-align:center">Services</h1>
  
    <div class="container">
      <div class="row">
           <div class="col s12 m8 l6" data-animate="fadeInUp">
                 <img class="responsive-img" src="http://cdsemi.com/wp-content/uploads/2015/06/field-service-support-420x250.jpg">
           </div>
           <div class="col s12 m4 l6">
              <h5 align="center">Field Service Support</h5>
                  <p class="flow-text">Experienced Field Service Engineers (FSEs) are ready and able to help keep your system up and running. We go above and beyond to ensure total customer satisfaction on each service call.</p>                                    
           </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
           <div class="col s12 m8 l6" data-animate="fadeInUp">
                 <img class="responsive-img" src="http://cdsemi.com/wp-content/uploads/2015/06/pm-contract1-420x250.jpg">
           </div>
           <div class="col s12 m4 l6">
              <h5 align="center">PM Contracts</h5>
                  <p class="flow-text">We offer scheduled Planned/Preventative Maintenance (PM) service contracts to help ensure that your systems remain in optimal operating state.</p>                                  
           </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
           <div class="col s12 m8 l6" data-animate="fadeInUp">
                 <img class="responsive-img" src="http://cdsemi.com/wp-content/uploads/2015/06/upgrades-420x250.jpg">
           </div>
           <div class="col s12 m4 l6">
              <h5 align="center">Upgrades</h5>
                  <p class="flow-text">We offer assistance with system upgrade or reconfiguration upon request. Our highly-trained, experienced design engineers can provide solutions to a myriad of different wafer handling scenarios.</p>                                  
           </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
           <div class="col s12 m8 l6" data-animate="fadeInUp">
                 <img class="responsive-img" src="http://cdsemi.com/wp-content/uploads/2016/04/refurbishment2-420x250.jpg">
           </div>
           <div class="col s12 m4 l6">
              <h5 align="center">Refurbishment</h5>
                  <p class="flow-text">We can offer a factory refurbishment if your system is beyond field service repair. The refurbishment includes full system testing and re-installation at customer site.</p>                                  
           </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
           <div class="col s12 m8 l6" data-animate="fadeInUp">
                 <img class="responsive-img" src="http://cdsemi.com/wp-content/uploads/2015/06/in-house-repairs-420x250.jpg">
           </div>
           <div class="col s12 m4 l6">
              <h5 align="center">In-house Repair</h5>
                  <p class="flow-text">We offer repair services for all PC boards, power supplies, spindle controllers, and all other assemblies.</p>                                  
           </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
           <div class="col s12 m8 l6" data-animate="fadeInUp">
                 <img class="responsive-img" src="http://cdsemi.com/wp-content/uploads/2015/06/pic-p7000b_.jpg">
           </div>
           <div class="col s12 m4 l6">
              <h5 align="center">C&D Precision Machining</h5>
                  <p class="flow-text">C&D Precision Machining is a full-service machining company located in the heart of the San Francisco Bay Area. Founded in 2000, C&D Machining has been providing its customers using state-of-the-art technology and equipment for more than a decade. The company specializes in machining work using CNC and manual mills and lathes, and is well-respected in the industry for its quality products and services, fast turn-around time, and the ability to provide its customers with cost-effective turnkey manufacturing solutions.</p>                                  
           </div>
      </div>
    </div>

      <footer class="page-footer grey">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio.</h5>
          <p class="grey-text text-lighten-4">
              C&D Semiconductor, Inc. is an innovative, fast-growing semiconductor equipment manufacturer based in San Jose, California. Founded in 1989, we have been serving the global                         semiconductor and other related industries for more than two decades, with customers from all over the world.
          </p>


        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Headquarters</h5>
          <ul>
            <li></li>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Global Offices</h5>
          <ul>
            <li><a class="white-text">2031 Concourse Drive <br> San Jose, CA 95131</a></li>
            <li><a class="white-text" href="#!">408-383-1888</a></li>
            <li><a class="white-text" href="#!">408-383-1889</a></li>
            <li><a class="white-text" href="#!">contactus@cdsemi.com</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Products</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
        <div class="col l1 s12">
          <h5 class="white-text">Services</h5>
          <ul>
            <li><a class="white-text" href="#!">Inspectors</a></li>
            <li><a class="white-text" href="#!">Processing</a></li>
            <li><a class="white-text" href="#!">LOL</a></li>
            <li><a class="white-text" href="#!">LOL2</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>
            <li><a class="white-text" href="#!">LOL3</a></li>            
            <li><a class="white-text" href="#!">LOL3</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
      <div class="container black-text">
          C&D Semiconductor Services (C) 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>