<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v3.12.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/cdsemi-logo180x65-354x128.png" type="image/x-icon">
  <meta name="description" content="Site Builder Description">
  <title>Site Builder Title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="assets/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background" id="header2-2l" style="background-image: url(assets/images/landscape.jpg);">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
    </div>

    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">

            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">
                        
                        
                        

                        <div class="mbr-table-cell col-md-5 content-size text-xs-center text-md-right">

                            <h3 class="mbr-section-title display-2">V-2000 Bright Light System</h3>

                            <div class="mbr-section-text">
                                <p>Catch nearly all wafer defects with less microscope time.</p>
                            </div>

                            <div class="mbr-section-btn"><a class="btn btn-primary" href="https://mobirise.com">MORE</a></div>

                        </div>
                        <div class="mbr-table-cell mbr-valign-top mbr-left-padding-md-up col-md-7 image-size" style="width: 50%;">
                            <div class="mbr-figure"><img src="assets/images/IMG_4503.JPG"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating hidden-sm-down" aria-hidden="true"><a href="#msg-box5-2m"><i class="mbr-arrow-icon"></i></a></div>

</section>

<section class="engine"><a rel="external" href="https://mobirise.com">Mobirise</a></section><section class="mbr-section" id="msg-box5-2m" style="background-color: rgb(193, 193, 193); padding-top: 80px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="assets/images/v2000Second.jpeg"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2">CATCH NEARLY ALL WAFER DEFECTS</h3>
                  <div class="lead">

                    <p>The V2000 can be configured with a combination of up to four<br>different light types that have been specifically selected to detect<br>various types of wafer defects.<br></p>

                  </div>

                  
              </div>


              

            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-2n" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              

              <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                  <h3 class="mbr-section-title display-2">REDUCE MICROSCOPE INSPECTION TIME</h3>
                  <div class="lead">

                    <p>Our customers have reduced microscope&nbsp;inspection by 90% — saving time, money,&nbsp;and operator fatigue while improving yield&nbsp;out of the lithography area. The bright light&nbsp;catches nearly all wafer defects found in&nbsp;most photolithography areas.<br></p>

                  </div>

                  
              </div>


              


              <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="assets/images/desktop.jpg"></div>
              </div>

            </div>
        </div>
    </div>

</section>

<section class="mbr-section" id="msg-box5-2o" style="background-color: rgb(193, 193, 193); padding-top: 80px; padding-bottom: 80px;">

    
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

              <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                  <div class="mbr-figure"><img src="assets/images/desktop.jpg"></div>
              </div>

              


              <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
                  <h3 class="mbr-section-title display-2">BACKSIDE INSPECTION</h3>
                  <div class="lead">

                    <p>Contamination and process defects can&nbsp;occur on the topside or bottomside of&nbsp;the wafer. The V2000 has an option for&nbsp;backside inspection where the entire&nbsp;bottomside of the wafer minus a small&nbsp;vacuum grip area is presented to the&nbsp;operator for inspection.<br></p>

                  </div>

                  
              </div>


              

            </div>
        </div>
    </div>

</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2k" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 C&amp;D Semiconductor Services Inc.</p>
    </div>
</footer>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="assets/viewport-checker/jquery.viewportchecker.js"></script>
  <script src="assets/jarallax/jarallax.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
  <input name="animation" type="hidden">
   <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon"></i></a></div>
  </body>
</html>